name: Integration tests
on:
  push:
jobs:
  simple:
    runs-on: ubuntu-latest
    steps:
      - name: Generate cache key
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        id: generate-key
        with:
          script: |
            core.setOutput('cache-key', new Date().valueOf())
      - name: Retrieve cache
        uses: actions/cache@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3
        with:
          path: ${{ github.workspace }}/mastofeedbot
          key: feed-cache-${{ steps.generate-key.outputs.cache-key }}
          restore-keys: feed-cache-
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/mastofeedbot/main/tests/simple.xml'
          # Visibility of the posted status (public | unlisted | private | direct)
          status-visibility: unlisted
          dry-run: false
          # This is your instance address
          api-endpoint: https://social.dev-wiki.de/
          # This is the secret you created earlier
          api-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json

  simple-without-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/mastofeedbot/main/tests/simple-no-cache.xml'
          # Visibility of the posted status (public | unlisted | private | direct)
          status-visibility: private
          dry-run: false
          # This is your instance address
          api-endpoint: https://social.dev-wiki.de/
          # This is the secret you created earlier
          api-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json

  simple-dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/mastofeedbot/main/tests/simple.xml'
          # Visibility of the posted status (public | unlisted | private | direct)
          status-visibility: unlisted
          dry-run: true
          # This is your instance address
          api-endpoint: https://social.dev-wiki.de/
          # This is the secret you created earlier
          api-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json

  simple-sensitive:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/mastofeedbot/main/tests/simple-sensitive.xml'
          # Visibility of the posted status (public | unlisted | private | direct)
          status-visibility: unlisted
          # Mark Mastodon status as sensitive content
          sensitive: true
          # This is your instance address
          api-endpoint: https://social.dev-wiki.de/
          # This is the secret you created earlier
          api-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json

  simple-template:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Run action
        uses: './'
        with:
          # This is the RSS feed you want to publish
          rss-feed: 'https://githubraw.com/joschi/mastofeedbot/main/tests/simple-template.xml'
          # Visibility of the posted status (public | unlisted | private | direct)
          status-visibility: unlisted
          # Template of status posted to Mastodon (Handlebars)
          template: |
            {{feedData.title}}: {{item.title}}

            {{item.link}}
          # This is your instance address
          api-endpoint: https://social.dev-wiki.de/
          # This is the secret you created earlier
          api-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          # This is a path to the cache file, using the above cache path
          cache-file: ${{ github.workspace }}/mastofeedbot/cache.json
